## This workbook is for the basic statements and clauses section of my learning for MySQL

Review Goals:

- Understand how to read data with `SELECT` and `FROM`

- Know how and when to use `DISTINCT` and aliases

- How to use `WHERE`; Using `BETWEEN`, `LIKE`, `NOT LIKE`, `IN`, `IS NULL`, `IS NOT NULL`, as well as chaining `WHERE` clauses together

- Understand what operators are and how to use them

- Using `ORDER BY` clauses; Using `ASC` or `DESC` as well as chaining them together

- Using the `LIMIT` clause, and the `OFFSET` clause with it

New acronym -- CRUD: Create, Read, Update, and Delete; The basic building block for working with data in just about any system. SQL qeuries are often called CRUD operations

- As stated in the last workbook, strings in SQL are generally enclosed in single quotes. Some versions of SQL allow use of double quotes, but for compatibility with other DBMS, use single quotes. If a single quote is needed within a string, you can escape it with (`\'`), of you can use two single quotes in a row (`''`).

- Annotating code, regardless of the language, is incredibly important. Not only will it really help someone else reading your code and trying to decipher what is going on, it will help you in the future going back and reading what you've written. In MySQL, there are a couple ways to introduce a comment within code. Both of these are good for a single line of code:

    - `#`
    
    - `--`
    
- And this is for multiple lines1 of code and will continue until you end it:

    - `/*` - Starts the comment
    
    - `*/` - Ends the comment
    
Another useful point to state; When using MySQL, a `;` signifies the end of a query. WHen writing queries to gather data or create a table, or to navigate through the database, whatever you're doing, you need to end each query with a `;`. If you don't you run the risk of an error happening, or the GUI will simply run the last query written. An example of this would be something like:

```sql
USE table_1

SELECT *
FROM table_1

SELECT column1
FROM table2
```
Without a `;`, when you run the GUI it will run all of that at once, and won't work properly.

The `SELECT` statement is used in basically every query. It is used to find and return rows from a given column or columns in a table. It is quite versatile when put into use. A basic select statement might look something like this:
```sql
SELECT column1, column2
FROM table_name;
```
Or:
```sql
USE fruits_db;

SELECT * 
FROM fruits;
```
The output from this, and virtually any SQL query, will be formatted as tabular data, with the columns labeled by their names and each row containing one record.

If using `DISTINCT` with a `SELECT` statement, it will remove any duplicate values from the output. It would look something like so:

```sql
SELECT DISTINCT column_1
FROM table_name;
```
Going by the above fruits_db example, if we wrote something like this:
```sql
SELECT DISTINCT name
FROM fruits;
```
It would gives us a list of each unique fruit in the table.

Sometimes, on occasion, it might be useful to output some sort of arbitrary data from SQL scripts. It's also rather easy:

```sql
SELECT 'I am output';
```
This will output something similar to this:  
|I am output|
|:---------|
|I am output|

Not useful like this, but this is just an example.

Aliasing, though, is incredibly useful. It basically allows us to temporarily rename a column, table, or a miscellaneous piece of our query. If the alias name contains spaces, it must be enclosed in quotes, but otherwise quotes are n ot needed. It *okay* to use spaces in a column alias (but meh), but it's not best practice to use them in a table alias. A basic example of this would be:

```sql
SELECT 'I am output' as Info;
```
Which would return something like so:

|Info|
|:----|
|I am ouput|

Another super useful clause in a SQL query is the `WHERE` clause. It basically enables you to give a condition for when a given row will be displayed in your output. A `SELECT` will...select all rows when left as is. A `WHERE` clause filters the results based upon the `WHERE`. It looks something like this:

```sql
SELECT column1, column2
FROM table_name
WHERE column_name = 'value';
```
Or, for a real example:
```sql
SELECT *
FROM fruits
WHERE name = 'dragonfruit';
```
This will return every row where the fruit name is dragonfruit. Also, you can query for a specific entry if use the primary key, like so:
```sql
SELECT *
FROM fruits
WHERE id = 5;
```
This will return all information for the row where the id is 5.

Yet another useful and important thing to know about would be Operators. There are a handful of operators within MySQL:

|Operator| Description|
|:-------|:-----------|
|`=`|Equal to|
|`!=` or `<>`|Not Equal|
|`<`|Less than|
|`>`|Greater than|
|`<=`|Less than or equal to|
|`>=`|Greater than or equal to|
|`BETWEEN` value1 `AND` value2| Greater than or equal to value1 and less than or equal to value2|

To put this into practice with the above example, it would look something like so:

```sql
SELECT id, name AS low_quantity_fruit, quantity AS inventory
FROM fruits
WHERE quantity < 4;
```
This would return something like:
|id|low_quantity_fruit|inventory|
|:----|:----|:----|
|1|apple|3|
|4|dragonfruit|1|
|5|grapes|2|

And now, to add another layer to the `WHERE` clause. You can chain various other clauses to it to produce more specific results. There are:

- `BETWEEN`

- `LIKE` / `NOT LIKE`

- `IN`

- `NULL` / `NOT NULL`

These are all pretty self explanatory, but there are some examples of the basic syntax.

```sql
SELECT emp_no, first_name, last_name
FROM employees
WHERE emp_no BETWEEN 10000 AND 10100;
```
As you would think, `BETWEEN` lets you filter out all of the rows not between the two numbers used above.
```sql
SELECT first_name
FROM emplyoees
WHERE first_name LIKE '%sus%';
```
You use `LIKE` to find similarities. `%` are known as wildcards, so in the above example it will return any employee names that contain the letter combination 'sus'. `DISTINCT` can also be used here, in combination with `NOT LIKE` to get non repeating names that don't contain the letter combination 'sus':
```sql
SELECT first_name
FROM employees
WHERE first name NOT LIKE '%sus%';
```
The output for this will, instead of being all of the names with 'sus' somewhere, will be only the distinct names without the 'sus' pattern.

You can also use `IN` when looking for very specific results. It could look something like:

```sql
SELECT emp_no, first_name, last_name
FROM employees
WHERE last_name IN ('Brown', 'Bean', 'Chi');
```
This will return only the employee information  where the last names match the `IN` clause.

`NULL` and `NOT NULL` are also relatively simple. It can simply be used to filter out things that are either null or not null, like:

```sql
SELECT *
FROM employees
WHERE to_date IS NOT NULL;
```

It's also possible to chain more than one `WHERE` clause together. In this usecase, you'd use `AND` or `OR` keywords like so:

```sql
SELECT emp_no, first_name, last_name
FROM employees
WHERE last_name IN ('Brown', 'Bean') AND emp_no < 20000;
```
Or it's possible to force a group evaluation by using ():
```sql
SELECT emp_no, first_name, last_name
FROM employees
WHERE emp_no < 20000 
    AND (last_name IN ('Brown', 'Bean') 
         OR first_name = 'Shawn'
         );
```

`ORDER BY` clauses can also be quite useful, and are pretty straightforward. They are also possible to chain together like the `WHERE` clause. A simple query would be something like:
```sql
SELECT column
FROM table_name
ORDER BY column_name ASC; 
```
OR
```sql
SELECT column
FROM table_name
ORDER BY column_name DESC;
```
The sort can be ordered by ascending or descending. Ascending is the default, and not necessary to specify, but I like to specify simply because it keeps it consistent when reading through. To chain `WHERE` clauses, you can simply separate them by a comma, like so:
```sql
SELECT *
FROM table_name
ORDER BY column_1 DESC, column 2 ASC;
```

`LIMIT` clauses are likewise pretty simple. What they will do is limit the output of your query based upon the specified number, like so:
```sql
SELECT *
FROM table_name
LIMIT 100;
```
This will return the first 100 results of the query. Also you can give it an `OFFSET` count. What `OFFSET` will do is tell MySQL which row to start with. So for this:
```sql
SELECT *
FROM table_name
LIMIT 25 OFFSET 25;
```
This will get the first 25 entries **after** the first 25 entries. It is often used for the pagination of data (creating pages of data), most likely to be exported and used in some other way.