## This notebook is for my notes on the basics of functions and the `GROUP BY` clause in MySQL

Review Goals:

- Understand the basics of functions within MySQL

- Learn how to use the following numerical functions:

    - `AVG`
    
    - `MIN` 
    
    - `MAX`
    
- Learn the following String functions:

    - `CONCAT()`
    
    - `SUBSTR`