## This notebook is for my notes on the basics of functions and the `GROUP BY` clause in MySQL